<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="template.css">
    <title>Hactus.io</title>
</head>
<body>
    <header class="navbar">
        <div id="header-elements">
            <a href="/index.html">Home </a>
            <a href="/pages/about.html">About </a>
            <a href="/pages/testpage.html">Testpage</a>
        </div>
    </header>

    <main>
        <div id="main-elements">
            
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti in asperiores iusto deserunt molestiae ipsa distinctio voluptatum quidem molestias ipsum eaque voluptas veniam eum veritatis officia, commodi fuga ex hic!</p>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae voluptate facere quia nihil nostrum tenetur voluptates quisquam sint dolores consequuntur a, fuga, veritatis dolorum, quod autem quos nulla? Adipisci, error?</p>
        </div>
        
        <footer>

        </footer>
    </main>
</body>
</html>