html{
    background-color: rgba(0, 0, 0, 0.90);
}


header{
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
}


main{
    background-color: aliceblue;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}